html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Roboto;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

a.cta-button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
}
a.cta-button:hover {
  background: linear-gradient(0deg, #9b63df 0%, #ff88de 100%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.operating__steps__card {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F7F7F7;
  width: 86%;
  border-radius: 20px;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
}
.operating__steps__card__content {
  position: relative;
  left: -13px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.operating__steps__card__content__number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  color: white;
  font-size: 14px;
  background-color: #9356DC;
  border-radius: 50px;
}
.operating__steps__card__content__icon {
  color: #7E7E7E;
}
.operating__steps__card__content__text {
  font-weight: 500;
  user-select: none;
}
.operating__steps__card:hover {
  background-color: #f4eefc;
}
.operating__steps__card:hover .operating__steps__card__content__icon {
  color: #9356DC;
}

.restaurants__list__card {
  width: 90%;
  height: 251px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.restaurants__list__card__cover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}
.restaurants__list__card__cover__new {
  position: absolute;
  top: 13px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  color: #2c9c81;
  font-weight: 500;
  font-size: 14px;
  background-color: #c1ede2;
  border-radius: 2px;
}
.restaurants__list__card__content {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 24px;
}
.restaurants__list__card__content__text {
  display: flex;
  flex-direction: column;
}
.restaurants__list__card__content__text__name {
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.restaurants__list__card__content__text__location {
  font-weight: 300;
  font-size: 17px;
  color: black;
}
.restaurants__list__card__content__icon {
  color: #7E7E7E;
}
.restaurants__list__card__content__icon:hover {
  color: #9356DC;
}

.splash-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 1500ms forwards;
  animation-iteration-count: 1;
  animation-delay: 300ms;
}
.splash-screen__loader {
  border: 5px dotted #9356DC;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
}
header {
  z-index: 999;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
}
.header__container > img {
  height: 30px;
}
.header__container > a {
  color: black;
  position: absolute;
  left: 20px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 50px;
  background-color: hsla(0deg, 0%, 20.7843137255%, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}
.location > i, .location p {
  color: #353535;
}
.location > p {
  font-weight: 500;
  user-select: none;
}

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #F7F7F7;
  padding: 43px 30px 43px 30px;
}
.discover > h1, .discover p {
  text-align: center;
}
.discover > p {
  font-size: 18px;
  font-weight: 100;
}

.operating {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 68px;
}
.operating > h1 {
  margin-bottom: 30px;
  padding-left: 20px;
}
.operating__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #F7F7F7;
}
.restaurants > h1 {
  padding-left: 20px;
  margin-bottom: 30px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.restaurants__list:last-child {
  margin-bottom: 64px;
}

footer {
  background-color: #353535;
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 38px;
}

.footer__logo {
  height: 18px;
  filter: invert(100%);
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.footer__container__link {
  display: flex;
  gap: 12px;
}
.footer__container__link__text {
  font-weight: 500;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
