html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Roboto;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: Roboto;
}

h2 {
  font-family: Shrikhand;
  font-size: 28px;
}

h3 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #353535;
}

h4 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
}

h5 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 15px;
}

a.cta-button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: fit-content;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
}
a.cta-button.large {
  padding-left: 50px;
  padding-right: 50px;
}
a.cta-button:hover {
  background: linear-gradient(355deg, #9b63df 0%, #ff88de 100%);
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.27);
}

.operating__steps__card {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F7F7F7;
  width: 86%;
  border-radius: 20px;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  max-width: 400px;
}
.operating__steps__card__content {
  position: relative;
  left: -13px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.operating__steps__card__content__number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  color: white;
  font-size: 14px;
  background-color: #9356DC;
  border-radius: 50px;
}
.operating__steps__card__content__icon {
  color: #7E7E7E;
}
.operating__steps__card__content__text {
  font-weight: 500;
  user-select: none;
}
.operating__steps__card:hover {
  background-color: #f4eefc;
}
.operating__steps__card:hover .operating__steps__card__content__icon {
  color: #9356DC;
}

.restaurants__list__card {
  width: 90%;
  height: 251px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  min-width: 250px;
  max-width: 400px;
}
.restaurants__list__card__cover {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}
.restaurants__list__card__cover__new {
  position: absolute;
  top: 13px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  color: #2c9c81;
  font-weight: 500;
  font-size: 14px;
  background-color: #c1ede2;
  border-radius: 2px;
}
.restaurants__list__card__content {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 24px;
  position: relative;
}
.restaurants__list__card__content__text {
  display: flex;
  flex-direction: column;
}
.restaurants__list__card__content__text__name {
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.restaurants__list__card__content__text__location {
  font-weight: 300;
  font-size: 17px;
  color: black;
}

.dish-button {
  height: 68px;
  width: 100%;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.dish-button:hover .dish-button__validate {
  width: 90px;
}
.dish-button:hover .fa-circle-check {
  transform: rotate(0deg);
}
.dish-button__name {
  width: 100%;
  padding-left: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.dish-button__name > h4, .dish-button__name h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-button__price {
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;
  padding-bottom: 14px;
}
.dish-button__price > p {
  font-weight: 500;
  font-size: 15px;
}
.dish-button__validate {
  background-color: #99E2D0;
  width: 0px;
  transition: all 400ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle-check {
  color: white;
  transform: rotate(-260deg);
  transition: all 400ms ease-in-out;
}

.fav-heart .full-fav-heart {
  position: absolute;
  right: 25px;
  color: #9356DC;
  opacity: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.fav-heart .empty-fav-heart {
  position: absolute;
  right: 25px;
  color: #7E7E7E;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.fav-heart:hover .full-fav-heart {
  opacity: 1;
}
.fav-heart:hover .empty-fav-heart {
  color: #9356DC;
}

.splash-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 1500ms forwards;
  animation-iteration-count: 1;
  animation-delay: 300ms;
}
.splash-screen__loader {
  border: 5px dotted #9356DC;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
}
header {
  z-index: 999;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
}
.header__container > img {
  height: 30px;
}
.header__container > a {
  color: black;
  position: absolute;
  left: 20px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 50px;
  background-color: hsla(0deg, 0%, 20.7843137255%, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.location > i, .location p {
  color: #353535;
}
.location > p {
  font-weight: 500;
}

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #F7F7F7;
  padding: 43px 30px 43px 30px;
}
.discover > h1, .discover p {
  text-align: center;
}
.discover > p {
  font-size: 18px;
  font-weight: 100;
}

.operating {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 68px;
}
.operating > h1 {
  margin-bottom: 30px;
  padding-left: 20px;
}
.operating__steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .operating__steps {
    margin-left: 25px;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #F7F7F7;
}
.restaurants > h1 {
  padding-left: 20px;
  margin-bottom: 30px;
}
.restaurants__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.restaurants__list:last-child {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .restaurants__list {
    padding-left: 20px;
    padding-right: 20px;
  }
}
footer {
  background-color: #353535;
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 38px;
}

.footer__logo {
  height: 18px;
  filter: invert(100%);
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.footer__container__link {
  display: flex;
  gap: 12px;
}
.footer__container__link__text {
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
  }
}
.menu-cover > img {
  object-fit: cover;
  object-position: center;
}

.menu-block {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 40px;
  padding-right: 16px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #F7F7F7;
  position: relative;
  margin-top: -40px;
}
.menu-block__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.menu-block__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.menu-block__content__part {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  padding-top: 32px;
  min-width: 250px;
  max-width: 500px;
}
.menu-block__content__part__subtitle > div {
  margin-top: 6px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
}
.menu-block__order-button {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .menu-block {
    margin-top: -300px;
  }
}
@media screen and (min-width: 1024px) {
  .menu-block {
    margin-top: -500px;
  }
}

/*# sourceMappingURL=style.css.map */
