.fav-heart { 

    & .full-fav-heart {
        position: absolute;
        right: 25px;
        color: $color-primary;
        opacity: 0;
        transition: all 200ms ease-in;
        cursor: pointer;
    }

    & .empty-fav-heart {
        position: absolute;
        right: 25px;
        color: $color-mediumgrey;
        transition: all 200ms ease-in;
        cursor: pointer;
    }

    &:hover {
        & .full-fav-heart {
            opacity: 1;
        }

        & .empty-fav-heart {
            color: $color-primary;
        }
    }
}