@mixin standard-shadow($opacity: 0.2) {
    box-shadow: 0px 7px 12px rgba(0, 0, 0, $opacity);
}

@mixin fade-in($delay: 0ms) {
    animation: fade-in 800ms forwards;
    animation-iteration-count: 1;
    animation-delay: $delay;
}