.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // height: 286px;
    background-color: $color-lightgrey;
    padding: 43px 30px 43px 30px;

    & > h1, p {
        text-align: center;
    }

    & > p {
        font-size: 18px;
        font-weight: 100;
    }
}