footer {
    background-color: $color-grey;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 38px;
}

.footer {

    &__logo {
        height: 18px;
        filter: invert(100%);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        
        &__link {
            display: flex;
            gap: 12px;
            
            &__text {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: $bp-tablet) {
    
.footer__container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}

}