header {
    // position: sticky;
    z-index: 999;
}

.header {
    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 66px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);

        & > img {
            height: 30px;
        }

        & > a {
            color: black;
            position: absolute;
            left: 20px;
        }
    }
}