.splash-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fade-out 1500ms forwards;
    animation-iteration-count: 1;
    animation-delay: 1000ms;

    &__loader {
        border: 5px dotted $color-primary;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        animation: rotation 2s linear infinite;  
    }
}