.operating {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 68px;

    & > h1 {
        margin-bottom: 30px;
        padding-left: 20px;
    }

    &__steps {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media screen and (min-width: $bp-tablet) {
    
    .operating__steps {
        margin-left: 25px;
    }
    
}